.sideBarBG {
    background-color: #061E2C;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

}
.sideBarBgSubheadingContent {
    background-color: #061E2C;
    padding-left: 1rem;
    color: #949FB3;
}

.sideBarSubHeading {
    color: #627182;
    font-size: 12px;
}
a,i {
    text-decoration: none;
    color: #949FB3;
}
a:hover,i:hover {
    text-decoration: none;
    color: #fbfcfe;
}
.sideBarItemsFont {
    font-family: sans-serif;
    font-size: small;
}
.downArrowMargin{
  margin-left: 6rem;
}
.collapseBgColor{
    background-color: #003F40;
}
/* .collapseBtnColor{
    background-color: #003F40;
    color: #fbfcfe;
    
} */
/* .collapseBtnColor{
    border-radius: 0.2rem;
    padding: 1.2rem 1rem 0rem;
    margin-left: -0.8rem;
    text-align: center;
} */
.mainContent a,.mainContent i{
    color: #949FB3;
}

.apex-images img{
    object-fit: cover;
}

/* BS5 ANIMATE SNIPPET */
/* body
{
    width: 100%;
    height: 100%;
    overflow: hidden
} */

.bubbles
{
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}

.bubbles li
{
    position: absolute;
    list-style: none;
    display: flex;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -800px;
}

.bubbles li:nth-child(1)
{
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0;
}

.bubbles li:nth-child(2)
{
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}


.bubbles li:nth-child(3)
{
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.bubbles li:nth-child(4)
{
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.bubbles li:nth-child(5)
{
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.bubbles li:nth-child(6)
{
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.bubbles li:nth-child(7)
{
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.bubbles li:nth-child(8)
{
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}


.bubbles li:nth-child(9)
{
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}


.bubbles li:nth-child(10)
{
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 12s;
}


@keyframes animate
{
    0%
    {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    
      100%
    {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* Charts */
#chart1,#chart2,#chart3,#chart4 {
    max-width: 650px;
    margin: 35px auto;
}


/* activity feed */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* apply a natural box layout model to all elements, but allowing components to change */

.activity-feed {
  padding: 15px;
  margin-left: 15px;
}
.activity-feed .feed-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  border-left: 4px solid #e4e8eb;
}
.activity-feed .feed-item:last-child {
  padding-bottom: 0;
}
.activity-feed .feed-item:nth-child(1) {
    border-color: #3980c0;
}
.activity-feed .feed-item:last-child {
  border-color: transparent;
}
.activity-feed .feed-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -9px;
  width: 15px;
  height: 15px;
  border-radius: 12px;
  background: #f8f9f9;
  border: 1px solid #3980c0;
}
/* first child */
.activity-feed .feed-item:nth-child(1):after {
  background: #3980c0;
  border: 1px solid #3980c0;
}
.activity-feed .feed-item .date {
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 13px;
}
.activity-feed .feed-item .text {
  position: relative;
  top: -3px;
}